 {% extends 'base.html' %}
 {% load static %}
 {% block content %}
    <section class="main">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="text-center">
                        <img class="w-100" src="{% static 'images/mc.jpeg' %}">
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <h2 class="py-3 py-lg-5">BORGIR Corporation</h2>
                    <p>
                        BORGIR Corporation is an American-based multinational fast food chain, founded in 1940 as a restaurant operated by Richard and Maurice McDonald, in San Bernardino, California, United States. They rechristened their business as a hamburger stand, and later turned the company into a franchise, with the Golden Arches logo being introduced in 1953 at a location in Phoenix, Arizona. In 1955, Ray Kroc (1902–1984), a businessman, joined the company as a franchise agent and proceeded to purchase the chain from the McDonald brothers. McDonald's had its previous headquarters in Oak Brook, Illinois, but moved its global headquarters to Chicago in June 2018.
                    </p>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}